<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Watchdog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Watchdog.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Watchdog.Properties.Settings>
            <setting name="MailTo" serializeAs="String">
                <value>adrian.ortmann@online.de</value>
            </setting>
            <setting name="AlarmRamPercentage" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value>ortyserver@gmail.com</value>
            </setting>
            <setting name="MailSmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value>test12345678</value>
            </setting>
            <setting name="MailSmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="AlarmDiskFreeSpace" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlarmIntervalInMinutes" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="LastLogReadedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmText" serializeAs="String">
                <value>Something went wrong pls Watch your Server</value>
            </setting>
            <setting name="FineText" serializeAs="String">
                <value>Its all fine</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </Watchdog.Properties.Settings>
        <Watchdog.Settings1>
            <setting name="MailTo" serializeAs="String">
                <value/>
            </setting>
            <setting name="AlarmRamPercentage" serializeAs="String">
                <value/>
            </setting>
        </Watchdog.Settings1>
    </userSettings>
</configuration>
